* {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #e8e4ce;
    margin: 0;
    padding: 0;
}


.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: center;
    background-color: #d6c044;
    margin-top: 10px;
}

.heading h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(229, 229, 221);
    background-color: #d6c044;
}

.text {
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: #d6c044;
}

.text h1 {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(229, 229, 221);
    padding-right: 40px;
    background-color: #d6c044;
}

.input {
    display: flex;
    align-items: center;
    background-color: #d6c044;
}

.input input {
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #d6c044;
    border-radius: 40px;
}

.text button {
    width: 150px;
    height: 40px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: #d6c044;
}

.button button {
    height: 60px;
    width: 150px;
    color: rgb(127, 127, 84);
    border-radius: 10px;    
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.meme {
    display: flex;
    justify-content: center;
    background-color: #d6c044;
}

.box {
    align-items: center;
    width: 80vw;
    height: 80vh;
    border: 1px solid white;
    background-color: #d6c044;
    border-radius: 40px;
    box-shadow: 6px 10px 8px 3px rgba(117, 113, 113, 0.738), 6px 10px 20px 0px rgba(156, 145, 145, 0.716);
}


@media(max-width:400px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        width: 400px;
        height: 844px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .heading h1 {
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(229, 229, 221);
        background-color: #d6c044;
        margin: 30px;
    }

    .box {
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: 0;
        flex-direction: row;
    }

    .button {
        align-content: end;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }

    .text h1 {
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(229, 229, 221);
        background-color: #d6c044;
        margin-top: 10px;
        padding: 20px;
    }

    .input {
        padding: 20px;
    }
}

